/* IMPORT OF FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@400;700&family=Open+Sans&family=Vast+Shadow&display=swap');

/* LIST OF FONTS
standout
font-family: 'Vast Shadow', cursive;
headings
font-family: 'Lemonada', cursive;
text
font-family: 'Open Sans', sans-serif;
*/



/* GLOBAL STYLING */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --white: #fff;
    --teal: #6cac98;
    --pink: rgb(237, 0, 162);
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  justify-content: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Open Sans', sans-serif;
}

section {
    padding: 10px 0px;
    margin: 1rem auto;
    width: 100%;
    display: inline-flex;
}

title, h2 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 6px;
    padding-bottom: 10px;
    font-family: 'Lemonada', cursive; 
    font-size: 25px;
}

img {
    width: 100%;
}  

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* NAVIGATION BAR STYLE */
.navbar{
    background: var(--teal);
    position: fixed;
    width: 100%;
    padding: 26px 0px;
    font-family: 'Lemonada', cursive;
    text-align: end;
}

.navbar a{
    color: var(--white);
    font-size: 15px;
    margin-right: 15px;
}

.navbar a:hover {
    color: black;
    font-size: 16px;
    font-weight: bolder;
}

/* HOME SECTION STYLE */
.home {
     display: flex;
     background: url("../images/banner2.jpg") no-repeat center;
     height: 100vh;
     min-height: 500px;
     background-size: cover;
     background-attachment: fixed;
     font-family: 'Lemonada', cursive;
     font-size: 30px;
}

.home .max-width{
    margin: auto 0 auto 20px;
}

.home .text-2 {
    font-size: 60px;
    font-weight: bold;
}

.home .text-3 span {
    color: var(--teal);
    font-weight: bold;
}

/* ABOUT ME SECTION STYLE */
.aside {
    flex: 30%;
    padding: 20px;
}

.about {
    margin-left: 18px;
    line-height: 1.8;
}

h3 {
    color: var(--teal);
}

.about span {
    color: var(--teal);
    font-weight: bold;
}

/* HIGHLIGHT APPLICATION SECTION STYLE */
.showcase {   
    flex: 70%;
    padding: 20px;
}
.first-application {
    display: block;
    width: 100%;
    max-height: auto;
    margin: 10px 0 10px 0;
}

.first-application:hover {
    box-shadow: inset 0px 0px 5px var(--pink), 0 0 50px var(--pink);
}

/* PORTFOLIO SECTION STYLE */
.portfolio {
    background-color: var(--teal);
    padding: 15px 0;
}

.portfolio-item {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.portfolio-item:hover {
    box-shadow: inset 0px 0px 20px var(--pink), 0 0 50px var(--pink);
}

/* SKILLS SECTION STYLE */
.skills {
    float: left;
    width: 33.33%;
    padding: 10px;
    text-align: center;
    list-style: none;
}

h4 {
    color: var(--teal);
}

/* CONTACT SECTION STYLE */
.contact {
    border-radius: 5px;
    background-color: var(--teal);
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#myEmail {
    line-height: 35px;
}

#myEmail a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#myEmail a:hover {
    color: var(--pink);
}
  
/* SOCIAL MEDIA ICONS STYLES */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
.icon-bar a {
    display: block;
    text-align: center;
    padding: 14px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}
  
.icon-bar a:hover {
    background-color: var(--teal);
}

.linkedin {
    background: #007bb5;
    color: white;
}

.github {
    background: #000000;
    color: white;
}

.facebook {
    background: #3B5998;
    color: white;
}

/* FOOTER SECTION STYLE */
footer {
    margin: 1.5rem;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* RESPONSIVE LAYOUT */
@media screen and (min-width:700px) (max-width:900px) {
    .aside, .showcase, .row {
      width: 100%;
    };
    .navbar {
    text-align: center;
    background: black;
    }
}