/* IMPORT OF FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@400;700&family=Open+Sans&family=Vast+Shadow&display=swap');

/* list
standout
font-family: 'Vast Shadow', cursive;
headings
font-family: 'Lemonada', cursive;
text
font-family: 'Open Sans', sans-serif;
*/

/* GLOBAL STYLING */


:root {
    --white: #fff;
    --teal: #6cac98;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

section {
    padding: 10px 0px;
    margin: 10px auto;
    width: 95%;
    display:inline-flex;
}

section .title{
    position: relative;
    text-align: center;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Lemonada', cursive; 
    font-size: 25px;
}
  
footer {
    margin: 1.5rem;
    text-align:left;
}


.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.about .portfolio .skills .contact .footnote {
    font-family: 'Open Sans', sans-serif;
}

/* NAVIGATION BAR STYLE */
.navbar .logo a{
    color: var(--white);
    font-family: 'Vast Shadow', cursive;
    font-size: 40px;
}

.navbar{
    background: var(--teal);
    position: fixed;
    width: 100%;
    padding: 20px 0px;
    font-family: 'Lemonada', cursive;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .navbar .menu li {
     list-style: none;
     display: inline-block;
 }

 .navbar .menu li a{
    color: var(--white);
    font-size: 18px;
    margin-left: 16px;
 }

 .navbar .menu li a:hover {
    color: black;
    font-size: 25px;
 }

 /* HOME SECTION STYLE */
 .home {
     display: flex;
     background: url("../images/banner2.jpg") no-repeat center;
     height: 100vh;
     min-height: 500px;
     background-size: cover;
     background-attachment: fixed;
     font-family: 'Lemonada', cursive;
     font-size: 30px;
    }

.home .max-width{
    margin: auto 0 auto 70px;
}

.home .text-2 {
    font-size: 60px;
    font-weight: bold;
}

.home .text-3 span {
    color: var(--teal);
    font-weight: bold;
}

/* ABOUT SECTION STYLE */
.profile-photo{
    display: flex;
    flex-direction: column;    
    height: 400px;
    width: 400px;
    margin: 0 15px 15px 0;
}

.about-me span {
    color: var(--teal);
}

.about-me {
    text-align: justify;
}


/* PORTFOLIO SECTION STYLE */
.first-application {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.first-application:hover {
    box-shadow: inset 0px 0px 5px var(--teal), 0 0 50px var(--teal);
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 15px;
}

.portfolio-item img {
    height: 300px;
    width: 300px;
}

.portfolio-item:hover {
    box-shadow: inset 0px 0px 5px var(--teal), 0 0 50px var(--teal);
}

/* SKILL SECTION STYLE */



/* ICON BAR */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}
  
.icon-bar a:hover {
    background-color: var(--teal);
}

.linkedin {
    background: #007bb5;
    color: white;
}

.github {
    background: #000000;
    color: white;
}

.facebook {
    background: #3B5998;
    color: white;
}